* {
    margin: 0px;
    padding: 0px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo {
    min-width: 80px;
    width: 5%;
    margin: 0px 10%;
}

#txtLink {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    color: #E81111; /* Cor do link em modo claro */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave de cor */
}

#txtLink:hover {
    color: #B41C37; /* Cor ao passar o mouse sobre o link */
}

body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.corpo {
    margin: 5vh 5% 0% 5%;
}

img.light-mode {
    display: block;
}

img.dark-mode {
    display: none;
}

body.dark-mode {
    background-color: #1E1E1E;
    color: white; /* Cor do texto em modo escuro */
}

body.dark-mode #txtLink {
    color: #1E1E1E; /* Cor do link em modo escuro */
}

body.dark-mode #txtLink:hover {
    color: #E81111; /* Cor do link ao passar o mouse em modo escuro */
}

body.dark-mode img.light-mode {
    display: none;
}

body.dark-mode img.dark-mode {
    display: block;
}

.toggle-button {
    position: fixed;
    top: 1.5%;
    right: 15%;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 4;
    align-self: center;
    transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor do fundo da área de rolagem */
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: #E81111; /* Cor inicial da parte que desliza */
    border-radius: 50px;
    border: solid #f0f0f0 3px;
    margin: 0px 5px;
    z-index: 1;
}

::-webkit-scrollbar-thumb:hover {
    background: #c81010; /* Cor da parte que desliza quando o mouse está sobre ela */
    z-index: 1;
}
