* {
    margin: 0px;
    padding: 0px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
h2{
	 font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
h4{
	font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
}
#logo {
    min-width: 80px;
    width: 5%;
    margin: 0px 10%;
}

#txtLink {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    color: #E81111; /* Cor do link em modo claro */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave de cor */
}

#txtLink:hover {
    color: #B41C37; /* Cor ao passar o mouse sobre o link */
}


body {
    background-color: white;
    color: black;
		  overflow-x: hidden; 
    overflow-y: scroll;

}

.corpo {
    margin: 5vh 5% 0% 5%;
}

img.light-mode {
    display: block;
}

img.dark-mode {
    display: none;
}

body.dark-mode {
    background-color: #1E1E1E;
    color: white; /* Cor do texto em modo escuro */
}

body.dark-mode #txtLink {
    color: white; /* Cor do link em modo escuro */
}

body.dark-mode #txtLink:hover {
    color: #E81111; /* Cor do link ao passar o mouse em modo escuro */
}

body.dark-mode img.light-mode {
    display: none;
}

body.dark-mode img.dark-mode {
    display: block;
}
header{
background-color: #1E1E1E ;
position: fixed;
top: 0;
width:100%;
z-index:2;}

.--bs-body-color{
	background-color:white;
}
body.dark-mode .--bs-body-color{
	background-color:#1e1e1e;
}

.txtDesc{
	font-family:Times, Times New Roman, serif;
	color: #CC6363;


.carrossel{
margin-top:8vh;}
.banner{
width:100%;
}
.banner img {
width:100%;
box-shadow:0;
}

.subt {
	text-align:left;
	font-family: "Bebas Neue", sans-serif;
}
.subt2{
	text-align:left;
	
}
.accordion-button {
    font-family: "Bebas Neue", sans-serif; /* Altere para a fonte desejada */
    font-size: 16px; /* Altere o tamanho da fonte conforme necessário */
}
.accordion-button:hover {
background-color:#E81111;
}
#toggle-button{
	margin-left:5%;
	background-color:transparent;
	width:50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 4;
    align-self: center;
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor do fundo da área de rolagem */
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: #E81111; /* Cor inicial da parte que desliza */
    border-radius: 50px;
    border: solid #f0f0f0 3px;
    margin: 0px 5px;
    z-index: 1;
}

::-webkit-scrollbar-thumb:hover {
    background: #c81010; /* Cor da parte que desliza quando o mouse está sobre ela */
    z-index: 1;
}

