#txtIntroducao{
	margin:80px 5% 0px 5%;
	
}
#filtros{
	margin:0px 5% 0px 5%;
	
}
.baseS {
    position: relative;
    overflow: hidden;
}
#base {
    height: 70px;
    min-height: 50px;
    position: relative;
    margin-bottom: 3%;
    overflow: hidden;
    animation: base 20s linear infinite;
}

@keyframes base {
    0% { left: -30%; } 
    100% { left: 0%; }
}
@media (max-width:600px){
	#txtIntroducao{
	margin-top:22%;
}
}

@media (max-width:800px){
	#txtIntroducao{
	margin-top:12%;
}
}



.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
	justify-content:space-between;
}

.skill-card {
    min-width: 300px;
    margin: auto;
    color: black;
    width: 20%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background 0.5s ease, -webkit-text-fill-color 0.5s ease, box-shadow 0.5s ease; /* Suaviza a transição */
    box-shadow: none; /* Sem sombra inicialmente */
	transform: scale(1);
}
@keyframes pulseEffect {
    0% {
        transform: scale(1); /* Tamanho inicial */
    }
    50% {
        transform: scale(1.01); /* Aumenta ligeiramente */
    }
    100% {
        transform: scale(1); /* Volta ao tamanho normal */
    }
}

.skill-card:hover {
    box-shadow: rgba(128, 128, 128, 0.4) 5px 5px, 
                rgba(128, 128, 128, 0.3) 10px 10px, 
                rgba(128, 128, 128, 0.2) 15px 15px, 
                rgba(128, 128, 128, 0.1) 20px 20px, 
                rgba(128, 128, 128, 0.05) 25px 25px;
				animation: pulseEffect 0.6s ease-in-out forwards;}

 .dark-mode .skill-card:hover{
	box-shadow: rgba(0, 0, 10, 0.25) 0px 0px 30px 30px  inset;
    background: linear-gradient(to right, #2196f3, #43a047, #ffcb00, #ffcb00);
	 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation:none;
}

.skill-title {
    font-size: 18px;
    font-weight: bold;
}

.skill-description {
    font-size: 14px;
}


.dano-bg {
    background-color: #ffcb00; /* vermelho */
}

.cura-bg {
    background-color: #009440; /* azul */
}

.status-bg {
    background-color: #302681; /* verde */
}
.criaturaserobos{
	background-color: white;
}
	