* {
    box-sizing: border-box;
	   
}
#bannerPerso{
    margin: 1% 0%;
}
.txtBannerPerso{
   
    margin: auto;
    padding: 2% 5% ;

}
.imgBannerPerso img{
width: 100%;
height: 40%;

}
#base {
    height: 70px;
    min-height: 50px;
    position: relative;
    margin-bottom: 3%;
    overflow: hidden;
    animation: base 20s linear infinite;
}
.baseS {
    position: relative;
    overflow: hidden;
}
@keyframes base {
    0% { left: -30%; } 
    100% { left: 0%; }
}
.sliderPerso{
	width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logoClasse{
	width:20%;
	
}
table{
	 border-collapse: separate;
	 border-spacing: 1px;
     width: 200px;
     text-align: left;
     border: 2px solid black; /* Borda externa */
}
th,td{
	border: 1px solid black !important; /* Borda interna */
    padding: 2px;
	
}
th {
 
        }
		
.fotoDescClasse{
	margin-top:5%;
	width:100%;
	
	
}
.textoClasse{
display:flex;
align-items:center;
gap:10px;
margin:auto;
}
.textoClasse h2{
	margin-top:5%;
}
	
.sliderPerso img{
   width: 40%;
   min-width: 200px;
}
#persoSlider{
    flex-wrap: no-wrap;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}
.sliderPerso .btn.btn-danger{
	width:10%;
	height:10%
}
.txtSliderClass table{
color:white;
}
.imgBtnCla{
	display:flex;
	flex-direction:column;
	width:60%;
}

.imgBtnCla img{
	width:100%;
}
.colTxt{
	text-align:justify;
	padding:2% 3%;
    background-color: red;
    width:40%;
    min-width: 250px;
	font-size:1.27em;
}
.conteudoClasse{
	display:flex;
	flex-direction:column;
}
.conteudoClasse h2{
	text-align:center;
	margin-top:5px;
}
.conteudoClasse table{
	margin:auto;
}
#prof{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4%;
}

.itemProf {
    width: 20%;
    height: auto; /* Use auto para ajustar conforme o conteúdo */
    background-color: red;
    min-width: 200px;
    text-align: center;
    margin-bottom: 4%;
    position: relative; /* Necessário para a hover-content funcionar corretamente */
    overflow: hidden; /* Garantir que o conteúdo interno não vaze */
}

.itemProf img {
    width: 100%;
}

.hover-content {
    color: white;
    position: absolute;
    top: 0; /* Ajuste conforme necessário */
    left: 0; /* Ajuste conforme necessário */
    width: 100%;
    height: 110%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease; /* Transição suave para aparecer */
    background-color: rgba(20, 20, 20, 0.9);
    overflow-y: auto;
}
.itemProf .btn.btn-success{
    width: 100%;
}
.txtProf{
    padding: 0 2% 3% 2%;
}
.txtProfPad{
	padding:0% 4%;
}

.image-container {
    position: relative; /* Para que hover-content seja posicionado corretamente */
}

.image-container:hover .hover-content {
    opacity: 1; /* Fica visível ao passar o mouse */
}
#passado{
    flex-wrap: wrap;
    display: flex;
    padding: 0 3%;
    justify-content: space-around;
}
.itemPass{
    margin-bottom: 5%;
    display: flex;
    width:20%;
    min-width: 330px;
    height: 50%;
    flex-direction: column;
    background-color: red;
}
.itemPass img{
   width: 100%;
}
.txtPassItem{
   padding: 3% 6%;
}
.itemPass .btn.btn-success{
    width: 100%;
}

#criacaoFam{
	display:flex;
	flex-direction:column;
	gap:3%;
	
}
.menuFam{
	display:flex;
	
	flex-wrap:no-wrap;
}
.itemMenuFam{
	width:17.6%;
	height:20vh;
	background-color:red;
}
.conteudoFamTxt{
	padding:3%;
}
.btnFam:Hover{
	font-size:1.3em;
	color:white;
}
.txtBtnFam{
	margin:0 auto;
	text-align:center;
	width:50%;
	box-shadow:rgb(20,20,20,0.3) 0px 0px 20px 20px;
	background-color:rgb(20,20,20,0.3);
}
.btnFam{
	width:100%;
	height:100%;
	background-color:red;
	/*background-image:url("../img/iconPerso.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border:none;
}
.conteudoFam img{
	width:100%;
}
#form{
    background-image: url("../img/FundoPalco.png");
    padding: 5%;
}
#CriacaoClasse{
    background-color:red;
    box-shadow:rgb(20,20,20,0.8) 0px 0px 10px 10px;
    display: flex;
    gap: 4%;
    padding: 10px;
    flex-direction: column;
    margin: 5% 20%;
}
#nomePerso{
    margin-bottom:5% ;
}
#btnFicha{
    width: 100%;
    border-radius: 0;
}


@media (max-width: 1000px) {
	.logoClasse{
	width:10%;
}
	
	.txtBtnFam{
	
	box-shadow:rgb(20,20,20,0.3) 0px 0px 10px 10px;
	}
	#persoSlider{
		  flex-wrap: wrap;
	}
    .colTxt {
      display: block;
      width: 100%;
    }
	.imgBtnCla img{
	width:100%;
}
  
  }
@media (max-width: 1600px) {
  .imgBtnCla{
	  width:50%;
	}
  
  .colTxt{
	
	font-size:0.9em;
	}
	.fotoDescClasse{
	display:none;
  
  
 }
  