
.gifFundo {
    position: relative; /* Tornar o contêiner de fundo relativo para o posicionamento absoluto interno */
    width: 100%;
    height: 60vh;
    box-shadow: inset 0 0 50px white;
}

.fundoGif {
    width: 100%;
    height: 110%;
    object-fit: cover; /* Garantir que o GIF cubra toda a área */
}

#textoGif {
    position: absolute; /* Posicionar o texto sobre o GIF */
    background-color: rgba(100, 100, 100, 0.3);
    width: 40%;
    height: 60vh;
    color: white;
    top: 60%; /* Posicionar verticalmente no meio do contêiner */
    left: 18%; /* Posicionar horizontalmente no meio do contêiner */
    transform: translate(-50%, -50%); /* Centralizar o bloco */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em; /* Adicionar um pouco de espaço interno */
    box-sizing: border-box; /* Incluir padding e border no cálculo de largura e altura */

}

.txtV {
    margin: 0; /* Remover a margem padrão do <p> */
    text-align: center; /* Centralizar o texto */
}
.mundo{
margin:5vh 6%;
}
.mundo img{
	min-width:400px;
	width:100%;
}
#base { 
height:70px;
min-height:50px;
position:relative;
margin-bottom:3%;
animation: base 20s linear infinite;
 }
@keyframes base { 
0% { left: -30%; } 
100% { left: 0%; } 
}

.sliderMundo{
margin:5% 5%;
}

.container {
  display: flex;
  width: 100%;
}

.text-area {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.slider-area {
  width: 50%;
  position: relative;
}

.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.bannerTela {
  width: 100%;
  height: 50vh;
}
.bannerTela img{
  width: 100%;
  height: 50vh;
}
.mundoBl {
  background-image: url("../img/FundoPalco.png"); /* Caminho relativo ao arquivo CSS */
  width: 100%;
  background-size: cover;
  background-position: center;}

  .txtMundo{
  
    width: 40%;
    height:60%;
    margin: 5% 5% 5% 50%;
    padding: 2%;
  }
  .txtMundoDentro{
    background-color:  white;
    padding: 2%;
  }
  body.dark-mode .txtMundoDentro{
    background-color: #1e1e1e;
  }
.txtSlider1{
  width: 100%;
  min-width: 400px;
  text-align: justify;
}