*{
margin:0px;
padding:0px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    z-index: 2; /* Cabeçalho deve estar acima da capa */
    display: none; /* Oculta o cabeçalho inicialmente */
    transition: opacity 0.5s ease;
 }
  header a {
            text-decoration: none;
            margin: 0 10px;
			 background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }
  body {
            background-color: white;
            color: black;
            transition: background-color 0.3s, color 0.3s;
        }
		 img.light-mode {
            display: block;
        }

        img.dark-mode {
            display: none;
        }
		 body.dark-mode {
            background-color: #121212;
            color: white;
        }

        body.dark-mode header {
            background-color: rgba(255, 255, 255, 0.1);
        }

        body.dark-mode img.light-mode {
            display: none;
        }

        body.dark-mode img.dark-mode {
            display: block;
        }
		.toggle-button {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
            z-index: 1000;
        }


  